@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  list-style: none;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.hover-outline {
  @apply hover:ring-blue-300 hover:ring-2 dark:hover:ring-blue-500;
}

.y-interval {
  @apply flex flex-col gap-2;
}

.x-interval {
  @apply flex gap-2;
}

*::-webkit-scrollbar {
  @apply w-2 h-2;
}
*::-webkit-scrollbar-track {
  @apply bg-gray-100 dark:bg-gray-600 shadow-md;
}
*::-webkit-scrollbar-thumb {
  @apply bg-gray-300 dark:bg-gray-800;
}